
{{ template "header.html" .}}
<h3>Overview</h3>

<p>
In this study, we ask you to read 200 news editorials. Please read each editorial carefully and answer questions about the effect of the news editorial on you.
Was the editorial challenging or did it reinforce your own stance: <br />
<ul>
    <li>An editorial is <b>challenging</b>, if it makes you rethink your prior stance on the discussed topic, even though you may not change your stance in the end.
    </li>
    <li>An editorial is <b>reinforcing</b>, if it helps you in building or further corroborating your prior stance on the discussed topic.
    </li>
</ul>

</p>

While annotating each editorial, please consider the following:
<ul>
    <li>These editorials are written between 2005 and 2007. While reading try to think back to the time when the discussed topic was current.</li>
    <li>There is no right or wrong answers. Honesty will make us reach more interesting findings!</li>
</ul>
<h3>Disclaimer</h3>
<p>
Please note that your data will be used anonymously and for research purposes only!
</p>
<a href="login">
    <input type="button" value="Next" />
 </a>
{{ template "footer.html" .}}